body {
  background-color: #f8f9fa;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

h1 {
  color: #007bff;
}

img {
  max-width: 70%;
  height: auto;
}

.lead {
  text-align: center;
}