<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .img {
        max-width: 100%;
        height: auto;
    }
</style>
<div id=e308_2>
    <div id=e308_5>
        <div id="e308_6"></div>
        <div id="e308_7"></div>
        <div id="e308_8"></div>
        <div id="e308_9"></div>
        <div id="e308_10"></div>
        <div id="e308_11"></div>
        <div id="e308_12"></div>
        <div id="e308_13"></div>
        <div id="e308_14"></div>
        <div id="e308_15"></div>
        <div id="e308_16"></div>
        <div id="e308_17"></div>
        <div id="e308_18"></div>
        <div id="e308_19"></div>
        <div id="e308_20"></div>
        <div id="e308_21"></div>
        <div id="e308_22"></div>
        <div id="e308_23"></div>
        <div id="e308_24"></div>
        <div id="e308_25"></div>
        <div id="e308_26"></div>
        <div id="e308_27"></div>
        <div id="e308_28"></div>
        <div id="e308_29"></div>
        <div id="e308_30"></div>
        <div id="e308_31"></div>
        <div id="e308_32"></div>
        <div id="e308_33"></div>
        <div id="e308_34"></div>
        <div id="e308_35"></div>
        <div id="e308_36"></div>
        <div id="e308_37"></div>
        <div id="e308_38"></div>
        <div id="e308_39"></div>
        <div id="e308_40"></div>
        <div id="e308_41"></div>
        <div id="e308_42"></div>
        <div id="e308_43"></div>
        <div id="e308_44"></div>
        <div id="e308_45"></div>
        <div id="e308_46"></div>
        <div id="e308_47"></div>
        <div id="e308_48"></div>
        <div id="e308_49"></div>
        <div id="e308_50"></div>
        <div id="e308_51"></div>
        <div id="e308_52"></div>
        <div id="e308_53"></div>
        <div id="e308_54"></div>
        <div id="e308_55"></div>
        <div id="e308_56"></div>
        <div id="e308_57"></div>
        <div id="e308_58"></div>
        <div id="e308_59"></div>
        <div id="e308_60"></div>
        <div id="e308_61"></div>
        <div id="e308_62"></div>
        <div id="e308_63"></div>
    </div>
    <div id="e308_66"></div>
    <div id=e308_67>
        <div id=e308_68>
            <div id="e308_69"></div>
            <div id="e308_70"></div>
            <div id="e308_71"></div>
        </div>
    </div>
    <div id=e308_72>
        <div id="e308_73"></div>
        <div id="e308_74"></div>
        <div id="e308_75"></div>
    </div><span id="e308_76">Más promociones y beneficios en tu billetera.</span>
    <div id="e308_77"></div>
    <div id="e310_11"></div>
    <div id="e310_12"></div>
    <div id="e310_13"></div>
    <div id="e308_78">
        <img src="../assets/promociones/rectangle_4.png" alt=""
        width="202" height="276">
    </div>
    <div id="e308_79">
        <img src="../assets/promociones/rectangle_5.png" alt=""
        width="202" height="276">
    </div>
    <div id="e308_81">
        <img src="../assets/promociones/image_1.png" alt=""
        width="202" height="276">
    </div><span id="e308_82">Los Miércoles, 20% de descuento en Supermercados con tarjeta Visa
    </span><span id="e308_83">Los Martes, 30% de descuento en Gastronomía la app de tu billetera.</span><span
        id="e308_84">Los Lunes, llena tu tanque, 20 % de descuentos con pago QR.</span>
    <div id="e308_86"></div><span id="e308_87">MAS
        INFORMACIÓN</span>
    <div id="e310_2"></div><span id="e310_3">MAS
        INFORMACIÓN</span>
    <div id="e310_4"></div><span id="e310_5">MAS
        INFORMACIÓN</span>
    <div id="e310_6"></div><span id="e310_7">MAS
        INFORMACIÓN</span>
    <div id="e308_96">
        <img src="../assets/promociones/image_2.png" alt=""
        width="202" height="276">
    </div><span id="e308_97">Los Jueves! Los Martes! 3 cuotas sin interés, 30 % sin interés</span>
    <button type="button" id="e308_112" style="background-color: rgb(17, 0, 255);"></button><span id="e308_113">MAS PROMOCIONES</span>
</div>