.funcionesws
{
position:absolute;
background-color:#ffffff;
height:832px;
width:1280px;
padding:0px;
}
.rectangle385
{
background-color:#3c60fc;
height:83px;
width:1280px;
left:2px;
top:761px;
position:absolute;
}
.sapucai2023
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:DM Sans;
left:525px;
top:756px;
width:174.91952514648438px;
height:42.5099983215332px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.vector
{
background-color:#000000;
height:21.799999237060547px;
width:20px;
left:451px;
top:796px;
position:absolute;
}
.vector2
{
background-color:#000000;
height:21.712797164916992px;
width:20.000022888183594px;
left:751px;
top:796px;
position:absolute;
}
.vector3
{
background-color:#000000;
height:18.529998779296875px;
width:20.919998168945312px;
left:602px;
top:799px;
position:absolute;
}
.rectangle3852
{
background-color:#ffffff;
height:101px;
width:1283px;
filter:drop-shadow(0px 4px 10px rgba(0.07450980693101883,0.07450980693101883,0.08235294371843338,0.5));
position:absolute;
top:0px;
left:-2px;
}
.logo2
{
height:101px;
width:171.9576416015625px;
left:47.89px;
top:5px;
position:absolute;
}
.sobresapucay
{
color:#04172a;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:DM Sans;
left:289px;
top:36px;
width:153px;
height:51px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.promociones
{
color:#04172a;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:DM Sans;
left:682px;
top:35px;
width:134.53680419921875px;
height:30px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.ayuda
{
color:#04172a;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:DM Sans;
left:880px;
top:35px;
width:67px;
height:30px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.funciones2
{
color:#04172a;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:DM Sans;
left:506px;
top:34px;
width:112.26249694824219px;
height:30px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.login
{
background-color:#3c60fc;
height:50px;
width:100px;
filter:drop-shadow(0px 4px 5px rgba(0.01568627543747425,0.09019608050584793,0.16470588743686676,0.25));
border-radius:5px;
padding:15px;
left:1108px;
top:25px;
position:relative;
}
.ingresar
{
color:#ffffff;
text-align:right;
vertical-align:text-middle;
font-size:24px;
font-family:DM Sans;
line-height:auto;
border-style:hidden;
outline:none;
top:9.5px;
left:2.5px;
position:absolute;
width:95px;
}
.rectangle392
{
background-color:#e1e7ff;
height:92.09809875488281px;
width:649.3713989257812px;
transform:rotate(0deg);
border-radius:20px;
top:106.44px;
left:2px;
position:absolute;
}
.connosotros,podésdisponerdeestasymásfunciónes
{
color:#3c60fc;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:DM Sans;
left:195px;
top:132px;
width:752px;
height:122px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.sapucaisinfondo2
{
height:217px;
width:263px;
left:979px;
top:102px;
position:absolute;
}
.rectangle386
{
background-color:;
height:54.71361541748047px;
width:441.5074768066406px;
transform:rotate(-1deg);
border-radius:20px;
top:561px;
left:-19.86px;
position:absolute;
}
.rectangle393
{
background-color:;
height:46.2185173034668px;
width:649.8641357421875px;
transform:rotate(-1deg);
border-radius:20px;
top:497px;
left:-17.54px;
position:absolute;
}
.rectangle383
{
background-color:;
height:56.977840423583984px;
width:651.594482421875px;
transform:rotate(-1deg);
border-radius:20px;
top:385.61px;
left:-19.78px;
position:absolute;
}
.rectangle384
{
background-color:;
height:56.932823181152344px;
width:868.9895629882812px;
transform:rotate(-1deg);
border-radius:20px;
top:441px;
left:-19.35px;
position:absolute;
}
.rectangle394
{
background-color:#e5eaff;
height:84.4971923828125px;
width:1305.486572265625px;
transform:rotate(-1deg);
border-radius:20px;
top:676.5px;
left:-16.95px;
position:absolute;
}
.rectangle382
{
background-color:;
height:42.252437591552734px;
width:449.7634582519531px;
transform:rotate(-1deg);
border-radius:20px;
top:325.53px;
left:-17.77px;
position:absolute;
}
.funcion11
{
height:59px;
width:254px;
top:264px;
position:absolute;
}
.funcion21
{
height:50px;
width:232px;
left:427px;
top:384px;
position:absolute;
}
.funcion41
{
height:51px;
width:247px;
left:437px;
top:496px;
position:absolute;
}
.funcion51
{
height:57px;
width:283px;
left:242px;
top:559px;
position:absolute;
}
.funcion61
{
height:60px;
width:244px;
top:617px;
position:absolute;
}
.funcion71
{
height:42px;
width:149px;
left:200px;
top:326px;
position:absolute;
}
.funcion72
{
height:54px;
width:83px;
left:349px;
top:323px;
position:absolute;
}
.funcion32
{
height:56px;
width:243px;
left:652px;
top:440px;
position:absolute;
}
.maskgroup
{
width:119px;
height:80px;
top:681px;
left:749px;
position:absolute;
}
.group1
{
width:119px;
height:80px;
top:681px;
left:749px;
position:absolute;
}
.group5
{
width:119px;
height:80px;
top:681px;
left:749px;
position:absolute;
}
.rectangle3942
{
background-color:#d9d9d9;
height:80px;
width:119px;
top:681px;
left:749px;
position:absolute;
}
.bancos12
{
height:80px;
width:454px;
left:411px;
top:681px;
position:absolute;
}
.maskgroup2
{
width:131px;
height:81px;
top:680px;
left:481px;
position:absolute;
}
.group22
{
width:131px;
height:81px;
top:680px;
left:481px;
position:absolute;
}
.group6
{
width:131px;
height:81px;
top:680px;
left:481px;
position:absolute;
}
.rectangle395
{
background-color:#d9d9d9;
height:81px;
width:131px;
top:680px;
left:481px;
position:absolute;
}
.bancos13
{
height:81px;
width:454px;
left:286px;
top:680px;
position:absolute;
}
.maskgroup3
{
width:91px;
height:80px;
top:681px;
left:247px;
position:absolute;
}
.group32
{
width:91px;
height:80px;
top:681px;
left:247px;
position:absolute;
}
.group7
{
width:91px;
height:80px;
top:681px;
left:247px;
position:absolute;
}
.rectangle396
{
background-color:#d9d9d9;
height:80px;
width:91px;
top:681px;
left:247px;
position:absolute;
}
.bancos14
{
height:80px;
width:454px;
left:143px;
top:681px;
position:absolute;
}
.maskgroup4
{
width:104px;
height:80px;
top:681px;
left:1px;
position:absolute;
}
.group42
{
width:104px;
height:80px;
top:681px;
left:1px;
position:absolute;
}
.group8
{
width:104px;
height:80px;
top:681px;
left:1px;
position:absolute;
}
.rectangle397
{
background-color:#d9d9d9;
height:80px;
width:104px;
top:681px;
left:1px;
position:absolute;
}
.bancos15
{
height:80px;
width:454px;
left:1px;
top:681px;
position:absolute;
}
.bancos21
{
height:80px;
width:270px;
left:1012px;
top:681px;
position:absolute;
}
