<form>
  <div class="container-sm ">
  <div class="card text-center ">
    <div class="card-body">
      <h2 class="text2">Comprar Dolar</h2>
      <label for="nombre" class="form-label">¿Cuantos dolares quieres comprar?</label>
      <div class="form-floating mb-3 boton1">

  <input type="text"  class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Saldo Disponible $00,0 </label>
</div>
<label for="nombre" class="form-label">dolares a recibir.</label>
<div class="form-floating">
  <input type="text"  class="form-control" id="floatingPassword" placeholder="Password">

  <label for="floatingPassword">Password</label>
</div>
<button type="submit" class="btn btn-primary boton1">Vender</button>
<button type="submit" class="btn btn-primary boton1">Cancelar</button>

</div>
  </div>
</div>
</form>

