<!-- modificar.component.html -->

<div class="container mt-5">
  <h2>Modificar Usuario</h2>
  <form [formGroup]="usuarioForm" (ngSubmit)="guardarCambios()">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="number" class="form-control" id="id" formControlName="id" placeholder="Ingrese el ID">
      <button type="button" class="btn btn-primary" (click)="cargarUsuario()">Cargar Usuario</button>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <!-- Otros campos del formulario -->

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </form>
</div>
