<!-- modificar.component.html -->

<div class="container mt-5">
  <h2 class="text-center mb-4">Modificar Usuario</h2>
  <form [formGroup]="usuarioForm" (ngSubmit)="guardarCambios()">
    <div class="mb-3 row">
      <label for="id" class="col-sm-2 col-form-label">ID:</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" id="id" formControlName="id" placeholder="Ingrese el ID">
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary" (click)="cargarUsuario()">Cargar Usuario</button>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre" formControlName="nombre">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="email" class="col-sm-2 col-form-label">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" formControlName="email">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="password" class="col-sm-2 col-form-label">Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>
    </div>

    <!-- Otros campos del formulario -->

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      <button type="button" class="btn btn-primary" style="background-color: orange;">Cancelar</button>
    </div>
  </form>
</div>
